/*
CSS Credit: http://www.templatemo.com/
*/

/* 
Simple Gray Template 
http://www.templatemo.com/preview/templatemo_121_simple_gray 
*/
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: arial;
	font-size: 12px;
	color: #666;
	background: #ffffff;
}

a:link, a:visited { color: #000000; text-decoration: underline; font-weight: normal;} 
a:active, a:hover { color: #000000; text-decoration: none;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_40 { margin-right: 40px; }
.margin_right_70 { margin-right: 70px; }

.fl { float: left; }
.fr { float: right }

.button_01 a{
	clear: both;
	display: block;
	width: 110px;
	height: 23px;
	padding-top: 5px;
	background-color: #4CAF50;
    color: white;
    border-radius: 5px;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
}

.button_01 a:hover{
	background-color: #95d097;
}

.header_01 {
	clear: both;
	padding-bottom: 3%;
	font-size: 35px;
	color: #ffffff;
}

.header_02 {
	clear: both;
	padding-bottom: 2%;
	font-size: 25px;
	letter-spacing: 2px;
	color: white;
    font: arial;
}

.header_03 {
	clear: both;
	height: 35px;
	padding: 15px 0 0 20px;
	font-size: 18px;
	color: #ffffff;
	background: url(images/templatemo_header_02_bg.jpg) repeat-x;
}

.header_04 {
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.alist:hover{
    font-size: 14px;
}

.header_04 a{
	clear: both;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.header_05 {
	clear: both;
	font-size: 14px;
	color: #ffffff;
	width: 128px;
	height: 24px;
	padding: 3px 0 0 20px;
	margin-bottom: 5px;
	background:  url(images/templatemo_footer_title_bg.png) no-repeat;
}

#templatemo_header_wrapper {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background: #19446a url(images/templatemo_header_bg.jpg) repeat-x;
}

#templatemo_header {
	width: 980px;
	margin: 0 auto;
}

#templatemo_header #site_logo {
	float: left;
	width: 300px;
	height: 84px;
	font-size: 40px;
	color: #ffffff;
	background: url(images/templatemo_logo.jpg) no-repeat;
}

/* menu */

#templatemo_menu {
	position: relative;
	float: right;
	height: 47px;
	margin: 20px 40px 0 0;
	background: url(images/templatemo_menu_right.jpg) right no-repeat;
}

#templatemo_menu #templatemo_menu_left{
	position: absolute;
	width: 20px;
	height: 47px;
	top: 0px;
	left: 0px;
	background: url(images/templatemo_menu_left.jpg) no-repeat;
}

#templatemo_menu ul {
	margin: 10px 20px 0 0;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	display: block;
	width: 100px;
	padding: 5px 0;
	background: url(images/templatemo_menu_divider.jpg) right repeat-y;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #919191;	
	font-weight: normal;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #bbd142;
}

#templatemo_menu li .last {
	background: none;
}

/* end of menu*/

/* end of header */

#templatemo_banner_wrapper {
	clear: both;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background: #454545 url(images/templatemo_banner_repeat.jpg) repeat-x;
}

#templatemo_banner {
	display: inline-block;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	background: #454545;
}

#templatemo_banner #templatemo_banner_image {
	float: left;
	width: auto;	
}

#templatemo_banner_content {
	float: right;
	text-align: left;
	width: auto;
}

#templatemo_banner_content p {
	color: #959787;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 20px;
}

#templatemo_banner_image_wrapper {
	position: relative;
}

#templatemo_banner_image_wrapper img {
	position: relative;
	width: 300px;
	height: 205px;
}


/* content */

#templatemo_content_wrapper {
	clear: both;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background: #ffffff;
}

#templatemo_content {
	display: inline-block;
	padding-top: 3%;
	background: #ffffff;
}

#column {
	float: left;
	line-height: 130%;
	background: #ffffff;
}

#column_w530 {
	float: left;
	max-width: 530px;
	line-height: 130%;
	background: #ffffff;
}

#column .em_text {
	color: #000;
    font-size: 20px;
}

#column p {
	margin-bottom: 15px;
}

#column_w300 {
	background: #efefef;
	border: 1px solid #e5e5e5;
}

#column_w530 .em_text {
	color: #000;
    font-size: 20px;
}

#column_w530 p {
	margin-bottom: 15px;
}

.content_list_01 {
	margin: 0 0 0 30px;
	padding: 0px;
	list-style: square;
}

.content_list_01 li {
	margin: 0px;
	padding: 0 0 10px 10px;
	
}

.content_section_01 {
	border-left: 10px solid #bbd142;
	padding-left: 20px;
}

.column_w300_section_01 {
	clear: both;
	padding: 20px 19px;
	background: url(images/templatemo_side_column_divider.jpg) bottom repeat-x;
}

.even_color {
	background: #e0dfdf;
}

.news_image_wrapper {
	float: left;
	height: 70px;
	border: 1px solid #dad8d8;
	background: #ffffff;
}

.news_image_wrapper img{
	width: 69px;
	height: 69px;
	border: 1px solid #9c9d85;
}

.news_content {
	float: right;
	width: 170px;
}

.news_content .news_date {
	font-size: 12px;
	color: #9a9a9a;
}

.news_content p{
	line-height: 15px;
	font-size: 11px;
}

/* end of content

/* footer */

footer {
  position: relative;
  margin-top: -30px;
  height: 20px;
  color: white;
  font-size: 15px;
  padding-top: 14px;
  clear: both;

  background-color: #333;
}



#templatemo_footer_wrapper {
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_footer_bg.jpg) repeat-x;
}

#templatemo_footer {
	width: 920px;
	padding: 30px;
	margin: 0 auto;
	color: #515251;
}

#templatemo_footer a{
	text-decoration: none;
	color: #7a7a7a;
}

.section_w180 {
	float: left;
	width: 160px;
	padding: 0 20px 0 0;	
}

.section_w180_content {
	padding: 0 0 0 20px;
}

#templatemo_footer  .footer_menu_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_footer .footer_menu_list li {
	margin: 0 0 5px 0;
	padding: 0px;
}

#templatemo_footer .footer_menu_list li a {
	color: #928b85;
	font-weight: normal;
	text-decoration: none;
}
/* end of footer */


#ulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.list {
    float: left;
}

.list .alink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.list .alink:hover {
    background-color: #4CAF50;
}
#login {
    float: right;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
#logout{
    background-color: #FF3232;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 15%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4CAF50;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color:#f5f5f5;
}